.Banner {
    background-color: #0c2f75;
    min-height: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    color: white;
  }